apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestlistdeploy
  namespace: ${namespace}
  labels:
    app: guestlist-deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      the-app-is: guestlist-pod
  template:
    metadata:
      labels:
        the-app-is: guestlist-pod
    spec:
      containers:
      - name: guestlistcontainer
        image: ${image_repo}:${image_tag}
        imagePullPolicy: Always
