apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestlistapi
  namespace: ${namespace}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guestlistapi
  template:
    metadata:
      labels:
        app: guestlistapi
    spec:
      containers:
        - name: guestlistapi
          image: ${image_repo}:${image_tag}
          imagePullPolicy: Always
          ports:
            - containerPort: 1111